@media(max-width:767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        padding-top: 32px;

    }

    .header-main {
        &__input {
            display: none;
        }

        &__logo {
            width: 99px;
        }

        &__mob {
            display: flex;
            align-items: center;
            gap: 32px;
        }

    }

    .nav {
        display: none;


    }

    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;

        &__title {
            font-size: 48px;
            line-height: 59px;
            text-align: center;
        }

        &__subtitle {
            font-size: 16px;
            line-height: 32px;
            text-align: center;
        }

        &__link {
            font-size: 14px;
            line-height: 24px;

        }

        &-catalog__title {
            margin-bottom: 170px;
            margin-top: 82px;
            font-size: 48px;
            line-height: 59px;
            text-align: center;
        }

        &-basket__title {
            margin-bottom: 170px;
            margin-top: 82px;
            font-size: 48px;
            line-height: 59px;
            text-align: center;
        }

    }

    .basket {
        margin-top: 92px;
        row-gap: 48px;

        &__name-box {
            display: none;

        }

        &__img {
            display: none;

        }

        &__input {
            grid-column: 1/-1;
            gap: 48px;

            &-btn {
                margin-bottom: 148px;
            }
        }

        &__btn {
            font-size: 12px;
            line-height: 15px;

            &-box {
                gap: 14px;
            }

            &_continue {
                background-color: rgb(0, 0, 0);
                color: #FFFFFF;

                &:hover {
                    background-color: white;
                    color: black;
                    box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
                }

                &:hover,
                &:focus {
                    outline: 0;
                }

            }



        }

        &__info_desk {
            font-size: 12px;
            line-height: 15px;
        }

        &__info_price {
            font-size: 14px;
            line-height: 17px;
        }


    }

    .menu {
        &-box {
            gap: 14px;
            margin-top: 32px;
            margin-bottom: 32px;
        }

        &-select {
            flex-direction: column-reverse;
        }

        &-nav__link {
            font-size: 14px;
            line-height: 32px;

        }

    }

    .title {
        font-size: 24px;
        line-height: 29px;
        margin-top: 48px;
        margin-bottom: 32px;
    }

    .for {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        &__item {
            font-size: 28px;
            line-height: 34px;
            grid-column: 1/-1;
            height: 375px;

            &_big {
                height: 244px;
            }
        }


    }

    .filtering-form {
        gap: 32px;
        right: 65px;

        &__content-wrapper {
            height: 910px;

        }
    }

    .filtering-button {
        margin-top: 36px;
    }

    .content {
        width: 343px;

        &__title {
            font-size: 18px;
            line-height: 22px;
        }

        &-box__price {
            font-size: 18px;
            line-height: 22px;
        }
    }

    .section {
        margin-bottom: 32px;
    }

    .footer {
        flex-wrap: wrap;
        justify-content: center;


        &__info {
            gap: 100px;
            text-align: center;

        }

        &__menu {
            margin-top: 33px;
        }

        &__form {
            margin-top: 69px;
            margin-bottom: 32px;
            flex-direction: row;
        }
    }
}