@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 786px/2);
        padding-right: calc(50% - 786px/2);
    }

    .for {
        gap: 30px;

        &__item {
            height: 268px;
        }
    }

    .product__content {
        column-gap: 29px;
        row-gap: 38px;

    }

    .catalog__content {
        column-gap: 29px;
        row-gap: 38px;
    }

    .basket {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        row-gap: 64px;
        &__btn_continue {
            background-color: rgb(0, 0, 0);
            color: #FFFFFF;
    
            &:hover {
                background-color: white;
                color: black;
                box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
            }
    
            &:hover,
            &:focus {
                outline: 0;
            }
    
    
        }

    }

    

    .filtering-form {
        right: -240px;
    }

    .footer__logo {
        display: none;
    }
}

@media (min-width:768px) and (max-width:833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .content {
        width: 345px;
    }

}