.header_basket {
    background-image: url(img/basket.png);
    max-height: 400px;

}

.heading-basket__title {
    font-weight: $font-weight-600;
    font-size: 64px;
    line-height: 70px;
    color: $color-text;
    text-align: left;
    width: 292px;
    margin-top: 128px;
    margin-bottom: 126px;
}

.section-basket {
    margin-top: 32px;
    margin-bottom: 65px;

    &__link {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: $font-weight-400;
        line-height: 24px;
        text-align: left;
        text-decoration-line: underline;
        &:hover {
            color: rgb(110, 107, 107);

        }
    }
}

.basket {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;

    &__name-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: $font-weight-400;
        line-height: 20px;
    }

    &__item {
        border-top: 0.5px solid #CACDD8;
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__left {
        display: flex;
        gap: 32px;

    }

    &__img {
        height: 173px;
        width: 173px;
    }

    &__info {
        display: flex;
        width: 276px;
        flex-direction: column;
        gap: 14px;

    }

    &__info_title {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: $font-weight-500;
        line-height: 29px;
    }

    &__info_desc {
        color: rgb(136, 136, 136);
        font-size: 14px;
        font-weight: $font-weight-400;
        line-height: 17px;
    }

    &__info_price {
        color: rgb(5, 5, 5);
        font-size: 16px;
        font-weight: $font-weight-500;
        line-height: 20px;
    }

    &__link-box {
        display: flex;
        gap: 30px;
        text-decoration-line: underline;
    }

    &__link {
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 400;
        line-height: 210%;
        text-align: left;
        text-decoration-line: underline;

        &:hover {
            color: rgb(110, 107, 107);

        }
    }

    &__number {
        font-family: "Poppins", sans-serif;
        box-sizing: border-box;
        border-radius: 6px;
        background: rgb(247, 246, 246);
        outline: none;
        width: 71px;
        height: 51px;
        text-align: left;
        font-size: 14px;
        font-weight: $font-weight-600;
        line-height: 17px;
        padding-right: 14px;
        padding-left: 14px;
        border: none;
        color: rgb(0, 0, 0);

    }

    &__btn-box {
        display: flex;
        flex-wrap: nowrap;
        gap: 7px;
    }

    &__btn {
        width: 200px;
        height: 37px;
        box-sizing: border-box;
        border-radius: 50px;
        border: 1px solid rgb (0, 0, 0);
        font-family: inherit;
        color: rgb(2, 2, 2);
        font-size: 14px;
        font-weight: $font-weight-400;
        line-height: 17px;
        text-align: center;
        background-color: transparent;
    }

    &__btn:hover {
        color: black;
        box-shadow: 0 0 10px 0 #bbc2c3 inset, 0 0 10px 4px #bbc2c3;
    }

    &__btn:hover,
    &__btn:focus {
        outline: 0;
    }


    &__btn_continue {
        color: rgb(0, 0, 0);
    }

    &__input {
        height: 556px;
        border-radius: 20px;
        background: rgb(247, 246, 246);
        grid-column: span 4;
        text-align: center;

    }

    &__input-title {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        padding-top: 42px;
    }

    &__content {
        grid-column: span 8;
    }

    &__input-summ {
        margin-top: 64px;
        margin-bottom: 18px;
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;

    }

    &__input-btn {
        width: 290px;
        height: 41px;
        box-sizing: border-box;
        border-radius: 20px;
        border: 1px solid rgb (4, 4, 4);
        font-family: inherit;
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: $font-weight-400;
        line-height: 20px;
        background-color: transparent;

    }

    &__input-btn:hover {
        color: black;
        box-shadow: 0 0 10px 0 #bbc2c3 inset, 0 0 10px 4px #bbc2c3;
    }

    &__input-btn:hover,
    &__input-btn:focus {
        outline: 0;
    }
}

.input {
    display: flex;
    flex-direction: column;
    gap: 44px;
    margin-top: 35px;
    margin-right: 64px;
    margin-left: 27px;
    font-family: inherit;
    background-color: transparent;
    color: rgb(0, 0, 0);
    width: 288px;


    &__username {
        font-size: 14px;
        font-weight: $font-weight-400;
        line-height: 17px;
        outline: none;
        border: none;
        background: #F7F6F6;
        border-bottom: 1px solid #CACDD8;
        font-family: inherit;

        &:hover {
            background-color: #fff;

        }
    }

    &__tel {

        font-size: 14px;
        font-weight: $font-weight-400;
        line-height: 17px;
        outline: none;
        border: none;
        background: #F7F6F6;
        border-bottom: 1px solid #CACDD8;
        font-family: inherit;
        &:hover {
            background-color: #fff;

        }
    }

    &__address {
        font-size: 14px;
        font-weight: $font-weight-400;
        line-height: 17px;
        outline: none;
        border: none;
        background: #F7F6F6;
        border-bottom: 1px solid #CACDD8;
        font-family: inherit;
        &:hover {
            background-color: #fff;

        }

    }

}

@import'mobile'