$color-text: rgb(255, 255, 255);
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;

* {
    margin: 0;
    padding: 0;
}

.container {
    font-family: "Montserrat", sans-serif;

}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    background-image: url(img/Rectangle\ 15.png);
    height: 735px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

.header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);

    &__logo {
        width: 198px;
    }

    &__input {
        height: 41px;
        width: 288px;
        border: 1px solid $color-text;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: transparent;
        outline: none;
        font-size: 16px;
        font-weight: $font-weight-400;
        line-height: 20px;
        text-align: left;
        color: $color-text;
        padding-left: 32px;
        padding-right: 32px;
        font-family: inherit;
        transition: 1s;

        &:hover {
            transform: scale(1.1);
        }

        &::placeholder {
            color: $color-text;
        }

    }

    &__mob {
        display: none;
    }

}

.nav {
    display: flex;
    gap: 32px;

}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}



.nav__link {
    font-size: 16px;
    line-height: 20px;
    color: $color-text;
    font-weight: $font-weight-400;
    text-align: left;
}

ul,
li {
    list-style: none;
}


.heading {
    margin-top: 64px;


    &__subtitle {
        font-size: 24px;
        line-height: 32px;
        color: $color-text;
        font-weight: $font-weight-400;
        text-align: left;
        margin-bottom: 16px;
    }

    &__link {
        font-size: 16px;
        font-weight: $font-weight-400;
        line-height: 24px;
        color: $color-text;
        text-align: left;
        text-decoration-line: underline;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
    }

    &__link:hover {
        color: black;

    }


    &__title {
        font-weight: $font-weight-600;
        font-size: 64px;
        line-height: 70px;
        max-width: 792px;
        color: $color-text;
        text-align: left;
        margin-bottom: 16px;
    }
}




.for {
    margin-top: 32px;
    display: grid;
    column-gap: 32px;
    row-gap: 31px;
    grid-template-columns: repeat(12, 1fr);


    &__item {
        height: 415px;
        grid-column: span 4;
        font-weight: $font-weight-600;
        font-size: 34px;
        line-height: 41px;
        color: $color-text;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
    }

    &__item:hover {
        transform: scale(1.1);
    }

    &__item_big {
        grid-column: span 6;
    }

    &__item_1 {
        background-image: url(img/For\ 1.jpeg);
    }

    &__item_2 {
        background-image: url(img/For\ 2.jpeg);
    }

    &__item_3 {
        background-image: url(img/For\ 3.jpeg);
    }

    &__item_4 {
        background-image: url(img/For\ 4.jpeg);
    }

    &__item_5 {
        background-image: url(img/For\ 5.jpeg);
    }
}

.title {
    font-weight: $font-weight-600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    text-align: left;
    margin-top: 64px;
    margin-bottom: 32px;

}

.product__content {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    flex-direction: row;

}

.catalog__content {
    column-gap: 33px;
    row-gap: 56px;
}

.content {
    position: relative;
    width: 378px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;


    &__img {
        display: block;
        overflow: hidden;
        margin-bottom: 10px;
        width: 100%;
        transition: 1s;
    }

    &__img:hover {
        transform: scale(1.1);


    }


    &__title {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: $font-weight-500;
        line-height: 29px;
        text-align: left;
        margin-bottom: 8px;
        &-box{
            color: #000000;
        }

    }

    &__desk {
        color: rgb(136, 136, 136);
        font-size: 14px;
        font-weight: $font-weight-400;
        line-height: 17px;
        text-align: left;
        margin-bottom: 12px;
    }
}

.content-box {
    display: flex;
    gap: 32px;
    flex-direction: row;


    &__price {
        font-weight: $font-weight-500;
        font-size: 24px;
        line-height: 29px;
        color: #050505;
        text-align: left;
    }

    &__price_sale {
        text-decoration-line: line-through;
        color: #888888;
    }
}

.content-icons {
    position: absolute;
    top: 13px;
    right: 12px;
    display: flex;
    gap: 23px;
    background-repeat: no-repeat;
    opacity: 0;

    &:hover {
        opacity: 1;
    }
}

.section {
    height: 24px;
    margin-top: 32px;
    margin-bottom: 64px;

    &__link {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: $font-weight-400;
        line-height: 24px;
        text-align: left;
        text-decoration-line: underline;

        &:hover {
            color: rgb(110, 107, 107);

        }
    }


}

.footer {
    background: rgb(247, 246, 246);
    display: flex;
    justify-content: space-between;
    min-height: 207px;

    &__info {
        display: flex;
        justify-content: space-between;
        gap: 129px;
    }

    &__logo {
        width: 198px;
        height: 44px;
        margin-top: 32px;
    }

    &__menu {
        font-weight: $font-weight-500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 12px;
        margin-top: 32px;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__nav-link {
        font-weight: $font-weight-500;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        text-decoration: none;
        text-align: left;

    }

    &__nav-icon {
        display: flex;
        flex-direction: row;
        gap: inherit;

    }

    &__form {
        width: 260px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 32px;
    }
}

.form {
    font-family: "Montserrat", sans-serif;

    &__news {
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-weight: $font-weight-400;
        line-height: 15px;
        text-align: left;
        margin-bottom: 8px;
        font-family: inherit;
    }

    &__input {
        font-family: inherit;
        background: $color-text;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 16px;
        width: 260px;
        height: 40px;
        font-weight: normal;
        line-height: 18px;
        background-color: transparent;
        outline: none;
        padding-left: 17px;
        padding-right: 17px;
        transition: 1s;

        &:hover {
            border: 1px solid #908d8d;
            transform: scale(1.1);
        }

        &::placeholder {
            color: rgb(195, 195, 195);

        }
    }

    &__button {
        font-family: inherit;
        background: rgba(222, 215, 215, 0.41);
        border: 1px solid $color-text;
        box-sizing: border-box;
        border-radius: 16px;
        width: 260px;
        height: 40px;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
        font-weight: $font-weight-400;
        text-align: center;

        &:hover {
            color: black;
            box-shadow: 0 0 10px 0 #bbc2c3 inset, 0 0 10px 4px #bbc2c3;
        }

        &:hover,
        &:focus {
            outline: 0;
        }

    }
}


@import 'basket';
@import 'catalog';
@import 'tablet';
@import 'mobile'