* {
  margin: 0;
  padding: 0;
}

.container {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background-image: url(img/Rectangle\ 15.png);
  height: 735px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}
.header-main__logo {
  width: 198px;
}
.header-main__input {
  height: 41px;
  width: 288px;
  border: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: rgb(255, 255, 255);
  padding-left: 32px;
  padding-right: 32px;
  font-family: inherit;
  transition: 1s;
}
.header-main__input:hover {
  transform: scale(1.1);
}
.header-main__input::-moz-placeholder {
  color: rgb(255, 255, 255);
}
.header-main__input::placeholder {
  color: rgb(255, 255, 255);
}
.header-main__mob {
  display: none;
}

.nav {
  display: flex;
  gap: 32px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav__link {
  font-size: 16px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-align: left;
}

ul,
li {
  list-style: none;
}

.heading {
  margin-top: 64px;
}
.heading__subtitle {
  font-size: 24px;
  line-height: 32px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-align: left;
  margin-bottom: 16px;
}
.heading__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(255, 255, 255);
  text-align: left;
  text-decoration-line: underline;
  transition: all 1s ease;
}
.heading__link:hover {
  color: black;
}
.heading__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  max-width: 792px;
  color: rgb(255, 255, 255);
  text-align: left;
  margin-bottom: 16px;
}

.for {
  margin-top: 32px;
  display: grid;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 31px;
  grid-template-columns: repeat(12, 1fr);
}
.for__item {
  height: 415px;
  grid-column: span 4;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.for__item:hover {
  transform: scale(1.1);
}
.for__item_big {
  grid-column: span 6;
}
.for__item_1 {
  background-image: url(img/For\ 1.jpeg);
}
.for__item_2 {
  background-image: url(img/For\ 2.jpeg);
}
.for__item_3 {
  background-image: url(img/For\ 3.jpeg);
}
.for__item_4 {
  background-image: url(img/For\ 4.jpeg);
}
.for__item_5 {
  background-image: url(img/For\ 5.jpeg);
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  text-align: left;
  margin-top: 64px;
  margin-bottom: 32px;
}

.product__content {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  flex-direction: row;
}

.catalog__content {
  -moz-column-gap: 33px;
       column-gap: 33px;
  row-gap: 56px;
}

.content {
  position: relative;
  width: 378px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.content__img {
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
  width: 100%;
  transition: 1s;
}
.content__img:hover {
  transform: scale(1.1);
}
.content__title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
  margin-bottom: 8px;
}
.content__title-box {
  color: #000000;
}
.content__desk {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  margin-bottom: 12px;
}

.content-box {
  display: flex;
  gap: 32px;
  flex-direction: row;
}
.content-box__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
  text-align: left;
}
.content-box__price_sale {
  text-decoration-line: line-through;
  color: #888888;
}

.content-icons {
  position: absolute;
  top: 13px;
  right: 12px;
  display: flex;
  gap: 23px;
  background-repeat: no-repeat;
  opacity: 0;
}
.content-icons:hover {
  opacity: 1;
}

.section {
  height: 24px;
  margin-top: 32px;
  margin-bottom: 64px;
}
.section__link {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration-line: underline;
}
.section__link:hover {
  color: rgb(110, 107, 107);
}

.footer {
  background: rgb(247, 246, 246);
  display: flex;
  justify-content: space-between;
  min-height: 207px;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  gap: 129px;
}
.footer__logo {
  width: 198px;
  height: 44px;
  margin-top: 32px;
}
.footer__menu {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 12px;
  margin-top: 32px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
  text-align: left;
}
.footer__nav-icon {
  display: flex;
  flex-direction: row;
  gap: inherit;
}
.footer__form {
  width: 260px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 32px;
}

.form {
  font-family: "Montserrat", sans-serif;
}
.form__news {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  margin-bottom: 8px;
  font-family: inherit;
}
.form__input {
  font-family: inherit;
  background: rgb(255, 255, 255);
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 16px;
  width: 260px;
  height: 40px;
  font-weight: normal;
  line-height: 18px;
  background-color: transparent;
  outline: none;
  padding-left: 17px;
  padding-right: 17px;
  transition: 1s;
}
.form__input:hover {
  border: 1px solid #908d8d;
  transform: scale(1.1);
}
.form__input::-moz-placeholder {
  color: rgb(195, 195, 195);
}
.form__input::placeholder {
  color: rgb(195, 195, 195);
}
.form__button {
  font-family: inherit;
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 16px;
  width: 260px;
  height: 40px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
  text-align: center;
}
.form__button:hover {
  color: black;
  box-shadow: 0 0 10px 0 #bbc2c3 inset, 0 0 10px 4px #bbc2c3;
}
.form__button:hover, .form__button:focus {
  outline: 0;
}

.header_basket {
  background-image: url(img/basket.png);
  max-height: 400px;
}

.heading-basket__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: rgb(255, 255, 255);
  text-align: left;
  width: 292px;
  margin-top: 128px;
  margin-bottom: 126px;
}

.section-basket {
  margin-top: 32px;
  margin-bottom: 65px;
}
.section-basket__link {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration-line: underline;
}
.section-basket__link:hover {
  color: rgb(110, 107, 107);
}

.basket {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}
.basket__name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.basket__item {
  border-top: 0.5px solid #CACDD8;
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.basket__left {
  display: flex;
  gap: 32px;
}
.basket__img {
  height: 173px;
  width: 173px;
}
.basket__info {
  display: flex;
  width: 276px;
  flex-direction: column;
  gap: 14px;
}
.basket__info_title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.basket__info_desc {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.basket__info_price {
  color: rgb(5, 5, 5);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.basket__link-box {
  display: flex;
  gap: 30px;
  text-decoration-line: underline;
}
.basket__link {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  text-align: left;
  text-decoration-line: underline;
}
.basket__link:hover {
  color: rgb(110, 107, 107);
}
.basket__number {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border-radius: 6px;
  background: rgb(247, 246, 246);
  outline: none;
  width: 71px;
  height: 51px;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  padding-right: 14px;
  padding-left: 14px;
  border: none;
  color: rgb(0, 0, 0);
}
.basket__btn-box {
  display: flex;
  flex-wrap: nowrap;
  gap: 7px;
}
.basket__btn {
  width: 200px;
  height: 37px;
  box-sizing: border-box;
  border-radius: 50px;
  border: 1px solid rgb 0, 0, 0;
  font-family: inherit;
  color: rgb(2, 2, 2);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  background-color: transparent;
}
.basket__btn:hover {
  color: black;
  box-shadow: 0 0 10px 0 #bbc2c3 inset, 0 0 10px 4px #bbc2c3;
}
.basket__btn:hover, .basket__btn:focus {
  outline: 0;
}
.basket__btn_continue {
  color: rgb(0, 0, 0);
}
.basket__input {
  height: 556px;
  border-radius: 20px;
  background: rgb(247, 246, 246);
  grid-column: span 4;
  text-align: center;
}
.basket__input-title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  padding-top: 42px;
}
.basket__content {
  grid-column: span 8;
}
.basket__input-summ {
  margin-top: 64px;
  margin-bottom: 18px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.basket__input-btn {
  width: 290px;
  height: 41px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid rgb 4, 4, 4;
  font-family: inherit;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: transparent;
}
.basket__input-btn:hover {
  color: black;
  box-shadow: 0 0 10px 0 #bbc2c3 inset, 0 0 10px 4px #bbc2c3;
}
.basket__input-btn:hover, .basket__input-btn:focus {
  outline: 0;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-top: 35px;
  margin-right: 64px;
  margin-left: 27px;
  font-family: inherit;
  background-color: transparent;
  color: rgb(0, 0, 0);
  width: 288px;
}
.input__username {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  outline: none;
  border: none;
  background: #F7F6F6;
  border-bottom: 1px solid #CACDD8;
  font-family: inherit;
}
.input__username:hover {
  background-color: #fff;
}
.input__tel {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  outline: none;
  border: none;
  background: #F7F6F6;
  border-bottom: 1px solid #CACDD8;
  font-family: inherit;
}
.input__tel:hover {
  background-color: #fff;
}
.input__address {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  outline: none;
  border: none;
  background: #F7F6F6;
  border-bottom: 1px solid #CACDD8;
  font-family: inherit;
}
.input__address:hover {
  background-color: #fff;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
  }
  .header-main__input {
    display: none;
  }
  .header-main__logo {
    width: 99px;
  }
  .header-main__mob {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .nav {
    display: none;
  }
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .heading__title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .heading__subtitle {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .heading__link {
    font-size: 14px;
    line-height: 24px;
  }
  .heading-catalog__title {
    margin-bottom: 170px;
    margin-top: 82px;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .heading-basket__title {
    margin-bottom: 170px;
    margin-top: 82px;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .basket {
    margin-top: 92px;
    row-gap: 48px;
  }
  .basket__name-box {
    display: none;
  }
  .basket__img {
    display: none;
  }
  .basket__input {
    grid-column: 1/-1;
    gap: 48px;
  }
  .basket__input-btn {
    margin-bottom: 148px;
  }
  .basket__btn {
    font-size: 12px;
    line-height: 15px;
  }
  .basket__btn-box {
    gap: 14px;
  }
  .basket__btn_continue {
    background-color: rgb(0, 0, 0);
    color: #FFFFFF;
  }
  .basket__btn_continue:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
  }
  .basket__btn_continue:hover, .basket__btn_continue:focus {
    outline: 0;
  }
  .basket__info_desk {
    font-size: 12px;
    line-height: 15px;
  }
  .basket__info_price {
    font-size: 14px;
    line-height: 17px;
  }
  .menu-box {
    gap: 14px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .menu-select {
    flex-direction: column-reverse;
  }
  .menu-nav__link {
    font-size: 14px;
    line-height: 32px;
  }
  .title {
    font-size: 24px;
    line-height: 29px;
    margin-top: 48px;
    margin-bottom: 32px;
  }
  .for {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    font-size: 28px;
    line-height: 34px;
    grid-column: 1/-1;
    height: 375px;
  }
  .for__item_big {
    height: 244px;
  }
  .filtering-form {
    gap: 32px;
    right: 65px;
  }
  .filtering-form__content-wrapper {
    height: 910px;
  }
  .filtering-button {
    margin-top: 36px;
  }
  .content {
    width: 343px;
  }
  .content__title {
    font-size: 18px;
    line-height: 22px;
  }
  .content-box__price {
    font-size: 18px;
    line-height: 22px;
  }
  .section {
    margin-bottom: 32px;
  }
  .footer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__info {
    gap: 100px;
    text-align: center;
  }
  .footer__menu {
    margin-top: 33px;
  }
  .footer__form {
    margin-top: 69px;
    margin-bottom: 32px;
    flex-direction: row;
  }
}
.header_catalog {
  background-image: url(img/catalog.png);
  height: 400px;
}

.heading-catalog__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: rgb(255, 255, 255);
  text-align: left;
  width: 270px;
  margin-top: 127px;
  margin-bottom: 126px;
}

.menu {
  margin-top: 64px;
  margin-bottom: 41px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 32px;
}
.menu-nav__link {
  color: black;
  font-size: 16px;
  font-weight: 400;
}
.menu-select {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}
.menu__button {
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-weight: 400;
  text-align: left;
  padding-left: 23px;
  padding-right: 54px;
  font-family: inherit;
  height: 40px;
  border: 1px solid #C4C4C4;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(img/Polygon\ 1.svg);
  background-repeat: no-repeat;
  background-position: center right 13px;
}
.menu__button_big {
  font-weight: 500;
}

.filtering-form {
  position: absolute;
  right: 350px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 36px;
  background: #fff;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  padding: 40px 48px;
}
.filtering-form__content-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px 65px;
  height: 548px;
}
.filtering-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  border: none;
}
.filtering-form__fieldset--type {
  padding-right: 40px;
}
.filtering-form__legend {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 16px;
  color: rgb(5, 5, 5);
}

.filtering-button {
  align-self: flex-end;
  width: 190px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid rgb(4, 4, 4);
  font-family: inherit;
  color: rgb(2, 2, 2);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  background-color: transparent;
  color: rgb(0, 0, 0);
  margin-top: 98px;
}
.filtering-button:hover {
  color: black;
  box-shadow: 0 0 10px 0 #bbc2c3 inset, 0 0 10px 4px #bbc2c3;
}
.filtering-button:hover, .filtering-button:focus {
  outline: 0;
}

.radio {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 14px;
}
.radio__input {
  display: none;
}
.radio__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 29px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.radio__label::before {
  content: "";
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  position: absolute;
  left: 0;
  background-color: #fff;
}
.radio__input:checked + .radio__label::before {
  border-color: #000000;
  background-image: url(img/choice.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.range {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.range__input {
  width: 190px;
  height: 10px;
  overflow: hidden;
  outline: none;
}
.range__label {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.range__input, .range__input::-webkit-slider-runnable-track, .range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}
.range__input::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #000;
}
.range__input:nth-child(2)::-webkit-slider-runnable-track {
  background: none;
}
.range__input::-webkit-slider-thumb {
  position: relative;
  height: 8px;
  width: 8px;
  margin-top: -4px;
  background: #000;
  border: 1px solid #000;
  border-radius: 25px;
  cursor: pointer;
  z-index: 1;
}
.range__input::-webkit-slider-runnable-track:active {
  cursor: grabbing;
}
.range__input:nth-child(1)::-webkit-slider-thumb {
  z-index: 2;
}
.range__slider {
  font-family: sans-serif;
  font-size: 14px;
  position: relative;
  height: 20px;
  width: 200px;
  display: inline-block;
  margin-top: -5px;
}
.range__slider input {
  position: absolute;
}

.color-options {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  gap: 14px;
}
.color-options__checkbox {
  width: 15px;
  height: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkbox__input {
  display: none;
}
.checkbox__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 29px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  line-height: 17px;
}
.checkbox__label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #888888;
  position: absolute;
  left: 0;
  background-color: #fff;
}
.checkbox__input:checked + .checkbox__label::before {
  background-image: url(img/choice.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: #000;
}
.checkbox__label--white::before {
  background-color: #fff;
  border-color: #808080;
}
.checkbox__label--black::before {
  background-color: #000000;
  border-color: #000000;
}
.checkbox__label--gray::before {
  background-color: #737373;
  border-color: #737373;
}
.checkbox__label--red::before {
  background-color: #FF0000;
  border-color: #FF0000;
}
.checkbox__label--orange::before {
  background-color: #FF7A41;
  border-color: #FF7A41;
}
.checkbox__label--yellow:before {
  background-color: #F2CB01;
  border-color: #F2CB01;
}
.checkbox__label--green::before {
  background-color: #00BF2A;
  border-color: #00BF2A;
}
.checkbox__label--caribbean-green::before {
  background-color: #1CCC97;
  border-color: #1CCC97;
}
.checkbox__label--aqua::before {
  background-color: #009FE3;
  border-color: #009FE3;
}
.checkbox__label--sky::before {
  background-color: #000AF8;
  border-color: #000AF8;
}
.checkbox__label--violet::before {
  background-color: #6710D6;
  border-color: #6710D6;
}
.checkbox__label--purple:before {
  background-color: #9D0DB5;
  border-color: #9D0DB5;
}
.checkbox__label--bright-lilac::before {
  background-color: #D89AFF;
  border-color: #D89AFF;
}
.checkbox__label--pink::before {
  background-color: #FF65A6;
  border-color: #FF65A6;
}
.checkbox__input:checked + .checkbox__label--black::before,
.checkbox .checkbox__input:checked + .checkbox__label--sky::before,
.checkbox .checkbox__input:checked + .checkbox__label--violet::before,
.checkbox .checkbox__input:checked + .checkbox__label--purple::before,
.checkbox .checkbox__input:checked + .checkbox__label--gray::before {
  background-image: url(img/choice\ 2.svg);
}

.catalog__content {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 56px;
  flex-wrap: wrap;
  flex-direction: row;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for {
    gap: 30px;
  }
  .for__item {
    height: 268px;
  }
  .product__content {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 38px;
  }
  .catalog__content {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 38px;
  }
  .basket {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 64px;
  }
  .basket__btn_continue {
    background-color: rgb(0, 0, 0);
    color: #FFFFFF;
  }
  .basket__btn_continue:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
  }
  .basket__btn_continue:hover, .basket__btn_continue:focus {
    outline: 0;
  }
  .filtering-form {
    right: 0;
  }
  .footer__logo {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .content {
    width: 345px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
  }
  .header-main__input {
    display: none;
  }
  .header-main__logo {
    width: 99px;
  }
  .header-main__mob {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .nav {
    display: none;
  }
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .heading__title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .heading__subtitle {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .heading__link {
    font-size: 14px;
    line-height: 24px;
  }
  .heading-catalog__title {
    margin-bottom: 170px;
    margin-top: 82px;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .heading-basket__title {
    margin-bottom: 170px;
    margin-top: 82px;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .basket {
    margin-top: 92px;
    row-gap: 48px;
  }
  .basket__name-box {
    display: none;
  }
  .basket__img {
    display: none;
  }
  .basket__input {
    grid-column: 1/-1;
    gap: 48px;
  }
  .basket__input-btn {
    margin-bottom: 148px;
  }
  .basket__btn {
    font-size: 12px;
    line-height: 15px;
  }
  .basket__btn-box {
    gap: 14px;
  }
  .basket__btn_continue {
    background-color: rgb(0, 0, 0);
    color: #FFFFFF;
  }
  .basket__btn_continue:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
  }
  .basket__btn_continue:hover, .basket__btn_continue:focus {
    outline: 0;
  }
  .basket__info_desk {
    font-size: 12px;
    line-height: 15px;
  }
  .basket__info_price {
    font-size: 14px;
    line-height: 17px;
  }
  .menu-box {
    gap: 14px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .menu-select {
    flex-direction: column-reverse;
  }
  .menu-nav__link {
    font-size: 14px;
    line-height: 32px;
  }
  .title {
    font-size: 24px;
    line-height: 29px;
    margin-top: 48px;
    margin-bottom: 32px;
  }
  .for {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    font-size: 28px;
    line-height: 34px;
    grid-column: 1/-1;
    height: 375px;
  }
  .for__item_big {
    height: 244px;
  }
  .filtering-form {
    gap: 32px;
    right: 65px;
  }
  .filtering-form__content-wrapper {
    height: 910px;
  }
  .filtering-button {
    margin-top: 36px;
  }
  .content {
    width: 343px;
  }
  .content__title {
    font-size: 18px;
    line-height: 22px;
  }
  .content-box__price {
    font-size: 18px;
    line-height: 22px;
  }
  .section {
    margin-bottom: 32px;
  }
  .footer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__info {
    gap: 100px;
    text-align: center;
  }
  .footer__menu {
    margin-top: 33px;
  }
  .footer__form {
    margin-top: 69px;
    margin-bottom: 32px;
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */